body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fdiv{
    flex-direction: column;
    border: 2px solid;
}

.sdiv{
    display: flex;
    justify-content: center;   
}

.tdiv{
    flex-direction: column;
    border: 2px solid;
}

.ld{
    border: 2px solid;
    flex-grow: 1;
}

.cd{
    border: 2px solid;
    flex-grow: 5;
}



